.montserrat-text {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.montaga-regular {
  font-family: "Montaga", serif;
  font-weight: 400;
  font-style: normal;
}

 * {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

body {
    margin: 0;
    max-width: 100%;
    overflow-x: hidden;
    background-color: #f8ecc5;
}

section {
    height: 100vh;
}

h1, h2 {
    font-family: "Montaga", serif;
    font-weight: 400;
}
p {
    font-size: 20px;
    max-width: 80vw;
    font-style: normal;
    font-weight: 500;
    line-height: var(--Static-Headline-Medium-Line-Height, 36px);
}

a {
    text-decoration: none;
    color: #FFF;
}
/* header geral */
.site-header{
    position: fixed;
    width:100%;
    top: 0;
    left: 0;
    background: #f5e8be;
    box-shadow: 0 1px 0 rgba(0,0,0,0.04);
    z-index:9999;
    height: 100px;
}

.navbar{
  max-width: 80vw;
  margin:0 auto;
  display:grid;
  grid-template-columns: 1fr auto 1fr; 
  align-items:center;
  gap:12px;
}

/* listas laterais */
.nav-left, .nav-right{
  display:flex;
  gap:28px;
  align-items:center;
  justify-content:flex-start;
  padding:0;
  margin: 0;
  margin-top: -2vh;
  list-style:none;
}

.nav-right { justify-content:flex-start; }
.nav-left { justify-content: flex-end;}

.nav-left a, .nav-right a{
  font-size: 20px;         
  line-height:1;
  color: #1C5B27;          
  text-decoration:none;
  letter-spacing:0.6px;    
  padding:0px 0;
  transition: opacity .18s ease, transform .18s;
  display:inline-block;
}

/* hover sutil */
.nav-left a:hover, .nav-right a:hover{
  opacity:0.8;
  transform: translateY(-1px);
}

/* LOGO central */
.logo-wrap{
  display:flex;
  justify-content:center;
  align-items:center;
  height: 130px;
}


.logo-img{
  height:130px;
  width:auto;
  display:block;
  object-fit:contain;
  transform: translateY(-2px); 
  margin: -4vh 5vw 0 5vw;
}

/* comportamento responsivo simples */
@media (max-width:900px){
  .navbar{
    grid-template-columns: 1fr auto 1fr;
    padding:12px 18px;
  }

  .nav-left, .nav-right{
    gap:16px;
  }
}

@media (max-width:640px){
  .nav-left, .nav-right{
    display:none; 
  }
  .logo-img{
    height:60px;
  }
}

/* CARROSSEL INICIAL */
.carousel {
    position:relative;
    width: 100%;
    max-width: 100vw;
    overflow: hidden;
    background-color: #030000;

    /* impede estourar horizontalmente */
    overflow-x: hidden;
}

/* Container onde ficam os slides */
.carousel-track {
    position: relative;
    width: 100%;
    margin-top: 100px;
    height: 88vh; 
    overflow: hidden;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.8s ease;
}

.slide.active {
    opacity: 1;
}

.slide img, .slide-pessoa img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slide-texto {
    position: absolute;
    bottom: 50px;
    margin-bottom: 20vh;
    left: 80px;
    color: white;
    max-width: 450px;
    text-shadow: 0px 3px 10px rgba(0,0,0,0.6);
    z-index: 5;
}

.slide-texto h1 {
    font-size: 55px;
    font-weight: 600;
    margin-bottom: 12px;
}

.slide-texto p {
    font-size: 17px;
    line-height: 1.4;
}

/* Setas */
.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(255,255,255,0.25);
    border: none;
    font-size: 38px;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 6px;
    z-index: 1000;
}

.arrow:hover {
    background: rgba(255,255,255,0.4);
}

.arrow.left { left: 15px; }
.arrow.right { right: 15px; }

/* Indicadores (bolinhas) */
.carousel-indicators {
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
    z-index: 100;
}

.indicator {
    width: 10px;
    height: 10px;
    background-color: white;
    opacity: 0.4;
    border-radius: 50%;
    cursor: pointer;
}

.indicator.active {
    opacity: 1;
}

.secEstimativas{
    background-color: #1C5B27;
    color: #FFF;
    display: flex;
    flex-direction: column;
    gap: 10vh;
    justify-content: center;
    align-items: center;
}

.secEstimativas h1 {
    font-size: 70px;
}

.secao2estimativas {
    display: flex;
    flex-direction: row;
    gap: 5vw;
    max-width: 80vw;
}

.estimativa {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.estimativa .numero {
    font-size: 35px;
    margin-bottom: 3vh;
}

.secLinhadoTempo {
    background-image: url(../imagens/imagensTempo.png);
    background-position: center;  
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    gap: 65vh;
    justify-content: center;
    align-items: center;
}

.secLinhadoTempo h1 {
    font-size: 70px;
    color: #AC0000;
}

.secLinhadoTempo button {
    background-color: #1C5B27;
    color: #FFF;
    font-size: 20px;
    padding: 2vh;
    border-radius: 19px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.25);
    border: none;
    align-self: flex-start;
    margin: 0 0 0 30vw;
}

.secDirecionamentos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10vh;
}

.secDirecionamentos h1 {
    align-self: start;
    margin-left: 9vw;
    color: #030000;
    font-size: 60px;
}

.direcionamentos {
    display: flex;
    flex-direction: row;
    gap: 7vh;
    max-width: 80vw;
    height: 432px;
}

.direcionamento {
    width: 260px;
    background-color: #1C5B27;
    border-radius: 18px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.25);
    color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vh;
    padding: 5vh 2vh;
    text-decoration: none;
}
.direcionamento img {
    max-height: 200px;
    margin-bottom: -5vh;
    margin-top: -4vh;
}
.direcionamento p {
    width: 227px;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
}

.direcionamento h2 {
    font-size: 35px;
    font-weight: 400;
    text-align: center;
}

.secPessoas {
    background-color: #1F3C24;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3vh;
    padding: 10vh 0 0 0;
}

.secPessoas h1 {
    align-self: flex-start;
    font-weight: 400;
    font-size: 50px;
    margin-left: 6vw;
    color: #FFF;
}

.carrossel-pessoas {
    position:relative;
    width: 80%;
    max-width: 100vw;
    overflow: hidden;
    margin-top: -100px;
    /* impede estourar horizontalmente */
    overflow-x: hidden;
}

/* Slides */
.slide-pessoa {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out; /* Transição de Fade */
}

.slide-pessoa.active {
    opacity: 1;
    z-index: 2; /* Garante que o slide ativo fique por cima */
}

.slide-pessoa img {
    width: 100%;
    max-height: 400px;
    object-fit: contain; /* Mantém a imagem inteira visível, ajusta ao container */
    margin-bottom: 20px;
}

/* Texto sobreposto */
.slide-texto-pessoa {
    position: absolute;
    /* bottom: 20px; */
    left: 50%;
    transform: translateX(-50%);
    color: white;
    text-align: center;
    max-width: 80%;
    z-index: 3; /* Acima de tudo */
}

.slide-texto-pessoa p {
    font-size: 20px;
    font-weight: 600;
    margin: 0;
}

.slide-texto-pessoa .minibio {
    font-size: 20px;
    font-weight: 300;
    opacity: 0.8;
}

/* Setas - Estilo de triângulo da imagem */
.arrow-pessoa {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent; /* Fundo transparente */
    border: none;
    color: white;
    font-size: 30px;
    padding: 10px;
    cursor: pointer;
    z-index: 10; /* Sempre no topo */
    opacity: 0.8;
    transition: opacity 0.2s;
}

.arrow-pessoa:hover {
    opacity: 1;
}

.arrow-pessoa.left-pessoa { left: 15px; }
.arrow-pessoa.right-pessoa { right: 15px; }

footer {
    position: relative;
    z-index: 0;
    display: flex;
    flex-direction: row;
    gap: 10vh;
    bottom: 0;
    justify-content: space-evenly;
    width: 100%;
    height: 30vh;
    align-items: center;
    padding: 0 1vw;
}

footer::before {
    content: "";
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;

    background-image: url("../imagens/depenandoGalinha1969\ \(1\).jpg");
    background-size: cover;
    background-position: center;

    opacity: 0.4;  
    z-index: -1;   
}

footer img {
    max-height: 20vh;
    max-width: 100vw;
}

footer .links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 100px;
    width: 40vw;
    gap: 5vw;
    flex-direction: row;
    flex-wrap: wrap; 
}

footer .links a {
    color: #000;
    text-decoration: none;
    font-weight: 500;
    position: relative;
    transition: all 0.25s ease-in-out;
}

/* efeito no hover */
footer .links a:hover {
    color: #1f4e2b;              /* muda de cor */
    transform: translateY(-4px); /* sobe um pouquinho */
}

/* opcionalíssimo: cria uma “barrinha” animada embaixo do link */
footer .links a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 0%;
    height: 2px;
    background-color: #1f4e2b;
    transition: width 0.25s ease-in-out;
}

footer .links a:hover::after {
    width: 100%;
}