/* header geral */
.site-header{
  width:100%;
  background: #F5E8BE;
  box-shadow: 0 1px 0 rgba(0,0,0,0.04);
  z-index:50;
  height: 130px;
}

.navbar{
  max-width:1200px;
  margin:0 auto;
  padding:14px 28px;           
  display:grid;
  grid-template-columns: 1fr auto 1fr; 
  align-items:center;
  gap:12px;
}

/* listas laterais */
.nav-left, .nav-right{
  display:flex;
  gap:28px;
  align-items:center;
  justify-content:flex-start;
  padding:0;
  margin:0;
  list-style:none;
}

.nav-right { justify-content: flex-end; }

.nav-left a, .nav-right a{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;         
  line-height:1;
  color: #1C5B27;          
  text-decoration:none;
  letter-spacing:0.6px;    
  padding:6px 0;
  transition: opacity .18s ease, transform .18s;
  display:inline-block;
}

/* hover sutil */
.nav-left a:hover, .nav-right a:hover{
  opacity:0.8;
  transform: translateY(-1px);
}

/* LOGO central */
.logo-wrap{
  display:flex;
  justify-content:center;
  align-items:center;
  height: 130px;
}


.logo-img{
  height:120px;
  width:auto;
  display:block;
  object-fit:contain;
  transform: translateY(-2px); 
}

/* comportamento responsivo simples */
@media (max-width:900px){
  .navbar{
    grid-template-columns: 1fr auto 1fr;
    padding:12px 18px;
  }

  .nav-left, .nav-right{
    gap:16px;
  }
}

@media (max-width:640px){
  .nav-left, .nav-right{
    display:none; 
  }
  .logo-img{
    height:60px;
  }
}

/* Área do carrossel */
.carousel {
    position: relative;
    width: 100%;
    height: 85vh;
    overflow: hidden;
    margin-top: 120px;
}

/* Container onde ficam os slides */
.carousel-track {
    display: flex;
    width: 300%; /* 3 slides → 300% */
    height: 100%;
    transition: transform 0.6s ease;
}

/* Cada slide */
.slide {
    position: relative;
    width: 100%;
    height: 100%;
    flex: 0 0 100%;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Texto sobre a imagem */
.slide-texto {
    position: absolute;
    top: 20%;
    left: 6%;
    color: white;
    max-width: 450px;
}

.slide-texto h1 {
    font-size: 55px;
    font-weight: 600;
    margin-bottom: 12px;
}

.slide-texto p {
    font-size: 17px;
    line-height: 1.4;
}

/* Setas */
.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(255,255,255,0.25);
    border: none;
    font-size: 38px;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 6px;
}

.arrow:hover {
    background: rgba(255,255,255,0.4);
}

.arrow.left { left: 15px; }
.arrow.right { right: 15px; }

/* Indicadores (bolinhas) */
.carousel-indicators {
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
}

.indicator {
    width: 10px;
    height: 10px;
    background-color: white;
    opacity: 0.4;
    border-radius: 50%;
    cursor: pointer;
}

.indicator.active {
    opacity: 1;
}
