/* Contêiner principal */
h1 {
  margin-top: 120px;
  text-align: center;
  font-size: 60px;
  color:#306c3c;
}

.filtros {
  background: #e2d7b9;
  padding: 10px 18px;
  border-radius: 25px;
  width: fit-content;
  margin: 20px 0 20px 70px;
  display: flex;
  align-items: center;
  gap: 14px;
}

/* Texto “Filtrar:” */
.filtros-label {
  font-size: 20px;
  color: #333;
}

/* Área das tags */
.tags-area {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}

/* Tag normal */
.tag {
  background: white;
  padding: 6px 16px;
  border-radius: 20px;
  border: none;
  font-size: 20px;
  cursor: pointer;
  transition: 0.2s;
  font-family: "Montserrat", sans-serif;
}

/* Tag selecionada */
.tag.selected {
  background: #306c3c;     /* verde IFC */
  color: white;
  position: relative;
}

/* “X” do Figma */
.tag.selected::after {
  content: "x";
  margin-left: 6px;
  font-weight: bold;
}

/* Container geral */
#galeria-wrapper {
  position: relative;
  padding: 0px 10vw 10vh 10vw; /* para afastar as fotos da linha */
}

.linha-timeline {
  position: absolute;
  top: 0;
  bottom: 0;   /* faz a linha ter altura total */
  left: 122px;
  width: 3px;
  background-color: black;
  z-index: 1;
  margin-bottom: 10vh;
}

.galeria {
    position: relative;
    z-index: 2; /* conteúdo fica acima da linha */
}

/* Título de cada década */
.decada-titulo {
  position: relative;
  z-index: 2;
  font-size: 28px;
  margin: 60px 0 18px;
  color: #306c3c; /* verde do Figma */
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 14px;
}


/* Bolinha na linha */
.decada-titulo::after {
  content: "";
  width: 10px;
  height: 10px;
  background: #000;
  border-radius: 50%;
  position: absolute;
  left: -35px;
  top: 5px;
}

/* Grade das imagens */
.fotos-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 26px;
  z-index: 2;
}

/* Card da foto */
.foto-card {
  background: #ddd;
  height: 260px;

  border-radius: 6px;
  overflow: hidden;
  position: relative;
}

/* Imagem */
.foto-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Ano por cima da imagem */
.foto-ano {
  position: absolute;
  top: 12px;
  left: 12px;
  font-size: 18px;
  color: #fff;
  font-weight: 600;
  text-shadow: 0 1px 4px rgba(0,0,0,.5);
}

/* Descrição */
.foto-desc {
  position: absolute;
  bottom: 12px;
  left: 12px;
  right: 12px;
  font-size: 14px;
  color: #fff;
  text-shadow: 0 1px 4px rgba(0,0,0,.5);
}
