/* --- ESTILIZAÇÃO GERAL --- */
.secHistoria {
    padding: 40px 0;
    text-align: center;
    background-color: #f7f2e1; /* Cor de fundo creme da sua imagem */
}

.secHistoria h1 {
    font-size: 38px;
    margin-bottom: 50px;
    color: #4b3d2b;
}

/* --- TRILHO CENTRAL (TIMELINE CONTAINER) --- */
.timeline-container {
    position: relative;
    max-width: 900px;
    margin: 0 auto;
    padding: 0 10px;
}

/* A Linha Central Vertical (usando um pseudo-elemento) */
.timeline-container::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%; 
    width: 2px; 
    background-color: #4b3d2b; /
    margin-left: -1px; 
}

/* --- ITENS DA TIMELINE --- */
.timeline-item {
    display: flex; 
    position: relative;
    margin-bottom: 50px;
    width: 100%;
}

.timeline-content {
    width: 45%; 
    padding: 10px 20px;
    text-align: right; 
}

.timeline-marker {
    position: relative;
    width: 10%; 
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}


.timeline-marker::after {
    content: '';
    position: absolute;
    top: 0; 
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #4b3d2b;
    border: 3px solid #f7f2e1; 
    z-index: 10;
}

.timeline-item.left-aligned {
    flex-direction: row;
}

/*Lado Direito*/
.timeline-item.right-aligned {
    flex-direction: row-reverse;
}

.timeline-item.right-aligned .timeline-content {
    text-align: left; 
    margin-left: 5%; 
}

/* Imagens */
.timeline-content img {
    max-width: 100%;
    height: auto;
    margin-top: 15px;
    display: block;
    padding: 5px;
    background: #e4dac5;
}