.montserrat-text {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.montaga-regular {
  font-family: "Montaga", serif;
  font-weight: 400;
  font-style: normal;
}

.secHistoria {
    padding: 60px 0;
    background: #f8ecc5;
    margin-bottom: 10vh;
}

.secHistoria h1 {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 70px;
}

/* CONTAINER GERAL */
.timeline-container {
  position: relative;
  width: 90%;
  max-width: 75vw;
  margin: 60px auto;
  padding: 0 0 10vh 0;
}

/* LINHA CENTRAL */
.timeline-container::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 3px;
  background: #111;
  transform: translateX(-50%);
  z-index: 1;
  margin-bottom: 15vh;
}

/* ITEM */
.timeline-item {
  width: 100%;
  display: flex;
  flex-direction: row; /* texto esquerda, imagem direita */
  justify-content: space-between;
  align-items: center;
  margin: 50px 0 70px 0;
  position: relative;
  z-index: 2;
  gap: 20px;
}

/* ITEM INVERTIDO */
.timeline-item.invert {
  flex-direction: row-reverse; /* troca completamente os lados */
}

/* Áreas laterais */
.timeline-content {
  width: 45%;
}

/* TEXTO */
.text-area h2 {
  margin: 0 0 10px;
  font-family: "Montaga", serif;
  font-weight: 400;
  color: #1f4e2b;
  margin-bottom: 20px;
}
.text-area p {
  margin: 0;
  line-height: 1.5;
}

.timeline-item .text-area {
  text-align: right;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
}

.ano-timeline {
    font-family: "Montserrat", sans-serif;
}

/* Texto do item invertido → alinhado à esquerda */
.timeline-item.invert .text-area {
  text-align: left;
  align-items: flex-start;
}
/* IMAGENS */
.img-wrapper {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 6px 18px rgba(0,0,0,0.15);
}

.img-wrapper img {
  width: 100%;
  height: 260px;
  object-fit: cover;
}

/* Legenda */
.img-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px 14px;
  background: rgba(0,0,0,0.55);
  color: #fff;
  font-size: 14px;
}

/* MARCADOR */
.timeline-marker {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 20px;
  height: 20px;
  background: #000;
  border-radius: 50%;
  z-index: 3;
}

/* RESPONSIVO */
@media (max-width: 900px) {
  .timeline-item,
  .timeline-item.invert {
    flex-direction: column;
    gap: 12px;
  }

  .timeline-content {
    width: 100%;
  }

  .timeline-marker {
    top: -20px;
  }

  .img-wrapper img {
    height: 200px;
  }
}
